.sidebar {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: var(--main-bg-color);
  /*border-radius: 1rem;*/
  border-right: 1px solid rgb(228, 223, 223);
  box-shadow: none;
  color: var(--tx-color);
  width: 20%;
  height: 100vh;
  align-items: flex-start;
}
.btn-open {
  border-radius: 50%;
  position: absolute;
  width: 2rem;
  height: 2rem;
  padding: 0.75em;
  top: 0;
  right: -10px;
  background-color: rgb(229, 236, 229);
}

.items {
  cursor: pointer;
  justify-content: flex-start;
  text-transform: capitalize;
  border: none;
  display: flex;
  width: 100%;
  text-decoration-skip: none;
  list-style: none;
  margin: 0;
  padding-top: 1rem;
}
.icon-item {
  margin-left: 10px;
  margin-right: 5px;
  font-size: 18px;
}
.items:hover {
  border: none;
  background-color: rgb(228, 241, 240);
}
.items-config {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  align-content: flex-start;
  height: 20%;
  width: 100%;
}
.items-config > div {
  width: 100%;
}
@media only screen and (max-width: 400px) {
  .sidebar {
    width: 80vw;
  }
}
