.txtfield {
  background-color: green;
  max-width: 300px;
  position: relative;
}
.txtfield > select {
  width: 100%;

  text-align: center;
  padding: 0.75rem;
  border: 1px solid rgb(196, 202, 196);
  color: rgb(107, 103, 103);
}

.txtinput {
  max-width: 300px;
  /*padding: 0.75rem;
 
  border: 1px solid rgb(196, 202, 196);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 4px;*/
}
.txtinput > * {
  font: inherit;
  letter-spacing: inherit;
  color: currentColor;
  border: 0px;
  box-sizing: content-box;
  background: none;
  height: 1.4375em;
  margin: 0px;
  -webkit-tap-highlight-color: transparent;
  display: block;
  min-width: 0px;
  width: 100%;
  animation-name: mui-auto-fill-cancel;
  animation-duration: 10ms;
  padding: 16.5px 14px;
}
